USE [ANODISATION]
GO
/****** Object:  Table [dbo].[Premisses]    Script Date: 21/10/2024 17:52:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Premisses](
	[ClePrimaire] [int] IDENTITY(1,1) NOT NULL,
	[NumPont] [smallint] NOT NULL,
	[NumPontIA] [smallint] NOT NULL,
	[NumPosteDepart] [smallint] NOT NULL,
	[NumPosteArrivee] [smallint] NOT NULL,
	[PremisseCodee] [varchar](200) NOT NULL,
	[PremisseDecodee] [varchar](200) NOT NULL,
	[TempsCycleSecondes] [int] NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Premisses] ON 

INSERT [dbo].[Premisses] ([ClePrimaire], [NumPont], [NumPontIA], [NumPosteDepart], [NumPosteArrivee], [PremisseCodee], [PremisseDecodee], [TempsCycleSecondes]) VALUES (4595, 2, 2, 1, 1, N'CHGT1-TEMPO-1-DEAC-NH-NB-MOAC-FCY', N'1-260-1-610-215-201-600-8000', 0)
INSERT [dbo].[Premisses] ([ClePrimaire], [NumPont], [NumPontIA], [NumPosteDepart], [NumPosteArrivee], [PremisseCodee], [PremisseDecodee], [TempsCycleSecondes]) VALUES (4596, 1, 1, 1, 2, N'CHGT1-TEMPO-1-DEAC-NH-CHGT2-TEMPO_STAB-1-NB-MOAC-FCY', N'1-260-1-610-215-2-280-1-201-600-8000', 0)
INSERT [dbo].[Premisses] ([ClePrimaire], [NumPont], [NumPontIA], [NumPosteDepart], [NumPosteArrivee], [PremisseCodee], [PremisseDecodee], [TempsCycleSecondes]) VALUES (4597, 1, 1, 1, 3, N'CHGT1-TEMPO-1-DEAC-NH--TEMPO_STAB-1-NB-MOAC-FCY', N'1-260-1-610-215-3-280-1-201-600-8000', 0)
GO
SET IDENTITY_INSERT [dbo].[Premisses] OFF
ALTER TABLE [dbo].[Premisses] ADD  DEFAULT ((0)) FOR [NumPont]
GO
ALTER TABLE [dbo].[Premisses] ADD  DEFAULT ((0)) FOR [NumPontIA]
GO
ALTER TABLE [dbo].[Premisses] ADD  DEFAULT ((0)) FOR [NumPosteDepart]
GO
ALTER TABLE [dbo].[Premisses] ADD  DEFAULT ((0)) FOR [NumPosteArrivee]
GO
ALTER TABLE [dbo].[Premisses] ADD  DEFAULT ('') FOR [PremisseCodee]
GO
ALTER TABLE [dbo].[Premisses] ADD  DEFAULT ('') FOR [PremisseDecodee]
GO
ALTER TABLE [dbo].[Premisses] ADD  DEFAULT ((0)) FOR [TempsCycleSecondes]
GO
