USE [ANODISATION]
GO
/****** Object:  Table [dbo].[Zones]    Script Date: 21/10/2024 17:52:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zones](
	[ClePrimaire] [int] NOT NULL,
	[NumZone] [smallint] NOT NULL,
	[CodeZone] [varchar](15) NOT NULL,
	[LibelleZone] [varchar](50) NOT NULL,
	[NumPremierPoste] [smallint] NOT NULL,
	[NomPremierPoste] [varchar](6) NOT NULL,
	[NumDernierPoste] [smallint] NOT NULL,
	[NomDernierPoste] [varchar](6) NOT NULL,
	[NbrPostes] [smallint] NOT NULL,
	[derive] [smallint] NULL,
	[SecuritePonts] [smallint] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Zones] ([ClePrimaire], [NumZone], [CodeZone], [LibelleZone], [NumPremierPoste], [NomPremierPoste], [NumDernierPoste], [NomDernierPoste], [NbrPostes], [derive], [SecuritePonts]) VALUES (1, 1, N'CHGT1 à CHGT2', N'Postes de chargement', 1, N'CHGT1', 2, N'CHGT2', 2, 0, 0)
INSERT [dbo].[Zones] ([ClePrimaire], [NumZone], [CodeZone], [LibelleZone], [NumPremierPoste], [NomPremierPoste], [NumDernierPoste], [NomDernierPoste], [NbrPostes], [derive], [SecuritePonts]) VALUES (7, 2, N'C00', N'Dégraissage ', 5, N'C00', 5, N'C00', 1, 200, 0)
INSERT [dbo].[Zones] ([ClePrimaire], [NumZone], [CodeZone], [LibelleZone], [NumPremierPoste], [NomPremierPoste], [NumDernierPoste], [NomDernierPoste], [NbrPostes], [derive], [SecuritePonts]) VALUES (8, 3, N'DEC', N'Décapage', 6, N'DEC', 6, N'DEC', 1, 0, 0)
